body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    padding: 1rem;
    box-sizing: border-box;
}
input, button {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .25rem;
    font-family: inherit;
}
section {
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    padding: .75rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
}
section h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}