body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}
input, button {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .25rem;
    font-family: inherit;
}